<h5>This is where I use handlebars</h5>
<h3>You scraped {{count}} articles!</h3>

{{!-- <ul>

    {{#each database }}


    <li>

        <p class="article-clicked" data-id="{{this._id}}">Article {{this._id}}: {{this.title}}</br>
            <a href={{this.link}}>{{this.link}}</a></br>
            {{this.summary}}

        </p>

    </li>
    {{/each}}
</ul> --}}